
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page">
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
            <h1>Brukernavn er sendt på SMS</h1>
            

            <br />
            <br />
            <p><a href="@Url.Action("Index", "ForgottenPassword")">Glemt passord?</a></p>

        </div>
    </div>
</section>

